/* Basic styling */

  * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  }

  html,
  body {
  }

  h1, h2, h3, h4, h5, h6 {
    color: #603939;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  p, a, li {
    color: #603939;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  hr {
    background-color: #dfd7d7;
    border: 0 none;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

/* Header styling */
  .page-header {
    display: block;
    font-weight: 100;
    overflow: hidden;
    padding: 30px;
    text-align: right;
    width: 100%;
  }

  .logo {
    display: inline;
    float: left;
    max-width: 100%;
    vertical-align: middle;
    width: 100px;
  }

  header h1 {
    display: block;
    font-size: 2em;
    font-weight: 100;
    text-align: right;
    text-transform: uppercase;
  }

  header > h2 {
    font-size: .8em;
    margin: 9px 0 9px 0;
    text-align: right;
    text-transform: uppercase;
  }

/* End header styling */


/* Phase 2
Nav styling
  nav {
    background: #f5efef;
    border-top: 2px double #603939;
    border-bottom: 2px double #603939;
    display: block;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    list-style-type: none;;
  }

  nav >ul > li > a {
    display: block;
    line-height: 48px;
    padding: 0 24px;
    text-decoration: none;
  }

  a:hover {
    background-color: mistyrose;
  }

  .active {
    background-color: #cfafaf;
    color: white;
  } */

/* End nav body styling */

/* Main body styling */
  .divider-image {
    display: block;
    max-width: 100%
    height: auto;
    vertical-align: middle;
    border: 0;
    padding-top: 30px;
    padding-bottom: 15px;
  }

/* Section styling */


  section {
    padding: 24px 24px 24px 24px;
  }


  section > h2 {
    padding-bottom: 20px;
    text-align: center;
  }

  .flex-container {
    -webkit-flex: 1;
    -ms-flex: 1;
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .project {
    margin: 20px;
    text-align: center;
    width: 25%;
    word-wrap: break-word;
  }

  .project h3 {
    font: bold;
    margin: 20px;
    text-align: center;
  }

  .project img {
    max-width: 100%;
    width: 75%;
  }

  .project a {
    font-size: small;
  }
/* End section styling */

/* End main body styling */


/* Footer styling */
  .page-footer {
    padding: 10px 10px 20px 10px;
    width: 100%;
  }

  footer p {
    color: #7f6060;
    font-size: .8em;
    text-align: center;
  }
/* End footer styling */
