/* Basic styling */
  /* TODO: Collapse related CSS properties into shorthand, e.g., all font-family items onto one line. */

  * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  }

  html,
  body {
    font-family: 'Helvetica Neue';
  }

  h1, h2, h3 {
    color: #603939;
  }

  p {
    color: #603939;
  }

/* Header styling */
  header * {
    font-family: 'Book Antiqua';
  }

  .page-header {
    background-color: #f5efef;
    display: block;
    overflow: hidden;
    padding: 30px;
    text-align: right;
    width: 100%;
  }

  .logo {
    display: inline;
    float: left;
    max-width: 100%;
    vertical-align: middle;
    width: 15%;
  }

  header > h2 {
    font-variant: small-caps;
    font-weight: bold;
  }

  header > h3 {
  font-style: italic;
}
/* End header styling */



/* Nav styling */
  nav {
    background: Seashell;
    border: 2px solid #603939;
    display: block;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    list-style-type: none;;
  }

  nav >ul > li > a {
    display: block;
    line-height: 48px;
    padding: 0 24px;
    text-decoration: none;
  }

  a:hover {
    background-color: mistyrose;
  }

  .active {
    background-color: #cfafaf;
    color: white;
  }

/* End nav body styling */

/* Main body styling */

/* Section styling */
  section {
    padding: 24px 24px 24px 24px;
    border-bottom: 2px solid #603939;
  }

  section > h2 {
    padding-bottom: 20px;
    text-align: center;
  }

  .flex-container {
    -webkit-flex: 1;
    -ms-flex: 1;
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .project {
    background-color: #f5efef;
    margin: 20px;
    text-align: center;
    width: 25%;
    word-wrap: break-word;
  }

  .project h3 {
    font: bold;
    margin: 20px;
    text-align: center;
  }

  .project img {
    max-width: 100%;
    width: 75%;
  }

  .project-info {
    /* START */
  }
/* End section styling */

/* End main body styling */


/* Footer styling */
  .page-footer {
    color: #603939;
    background-color: #f5efef;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
  }

/* End footer styling */
